body {
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
    font-family: arial, Helvetica, sans-serif;
}

.box {
    color: #FFFFFF;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 30%;
}

fieldset {
    border: 3px solid dodgerblue
}

legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}

.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    /*tirar a borda*/
    border-bottom: 1px solid white;
    outline: none;
    /*tirar a linha de fora do input*/
    color: white;
    font-size: 20px;
    width: 100%;
    /*comprimento da linha*/
    letter-spacing: 1px;
    /*espaço entre cada caracter no imput*/
}

.labelinput {
    /* animação das labels - nessa parte, as labels irão se encaixar dentro dos inputs*/
    position: absolute;
    /* vai ocupar apenas o elemento dela mesma */
    top: 0px;
    left: 0px;
    pointer-events: none;
    /* qualquer lugar que eu clicar dentro do input, ele vai executar a ação */
    transition: 5px;
    /* transição - para criaçao de efeitos de animação personalizado*/
}

/*Quando clicar no input eu quero que a label vai para cima do input - por isso a ação é no input*/

.inputUser:focus~.labelinput,
/*executar uma ação na nossa label*/
.inputUser:valid~.labelinput {
    /*qdo o input tiver válido, eu quero que ele execute essa ação para a label - a informação irá permanecer no input, senão irá ficar por cima*/
    top: -20px;
    font-size: 20px;
    color: dodgerblue;
}

#data_nascimento {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#enviar {
    background-image: linear-gradient(to right, rgb(0,92,192), rgb(90, 20, 220));
    width: 100%;
    border: none;/*tirar a borda*/
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;/*muda o icone do cursor quando em cima*/
    border-radius: 10px;
}

#enviar:hover{
    background-image: linear-gradient(to right, rgb(0,92,129), rgb(90,20,195));
}